/* Estilo general */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #F4F6FC;
}
h1{
  font-size: 3rem;
  color: #292E47;
}
h2{
  font-size: 2rem;
  color: #292E47;
}
h3{
  font-size: 1.4rem;
}
p{
  color: #6B708D;
}

/* NAVBAR */
.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 3rem 2rem;
  position: relative;
}

/* Logo */
.logo {
  position: absolute;
  left: 20%;
}

/* Botón a la derecha */
.button-blue {
  position: absolute;
  right: 22.7%; /* ajusta según el diseño */
  padding: 1rem;
  background-color: #072AC8;
}

/* Enlaces */
.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Enlaces sin subrayado */
.menu-links a {
  text-decoration: none;
  color: #072AC8;
  font-weight:bold;
}

.menu-links a:hover{
  text-decoration: underline;
}

/* Icono de hamburguesa oculto en pantallas grandes */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #072AC8;
  cursor: pointer;
  position: absolute;
  right: 5%;
}

/* Responsive NAV*/
@media(max-width:1200px){
  .logo {
  position: absolute;
  left: 10%;
}
.button-blue {
  right: 10.7%;
}
}
@media (max-width: 870px) {
  .header {
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .logo {
    position: static;
  }

  .hamburger {
    display: block;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F4F6FC;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .menu-links.show {
    display: flex;
  }

  .button-blue {
    position: static;
    background-color: #072AC8;
    width: 75%;
    text-align: center;
  }
}

/* HERO SECTION */
.hero {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding: 3em;
}
.main-text {
  width: 50%;
  text-align: left;
  padding: 1em;
}
.txt-hero{
  font-size: 1.5rem;
  font-weight: normal;
  color: #292E47;
}
.guy-area {
  position: relative;
  width: 35%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guy img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}
/* Tarjetas flotantes */
.icon-card {
  position: absolute;
  padding: 1rem;
  border-radius: 1rem;
  width: 250px;
  z-index: 2;
}
.icon-card img {
  width: 100%;
  height: auto;
}
/* Tarjeta izquierda */
.icon-card.top-left {
  top: 20%;
  left: 10%;
  transform: translate(-40%, -40%);
}
/* Tarjeta derecha */
.icon-card.bottom-right {
  bottom: 5%;
  right: 10%;
  transform: translate(40%, 40%);
}
/*Buttons hero*/
.buttons-area{
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.btn-blue a {
  padding: 1rem;
  background-color: #072AC8;
  color: white;
  text-decoration: none;
}
.btn-blue a:hover{
  color: #FFC600;
}
.btn-grey {
  padding: 1rem;
  color: rgb(79, 79, 79);
  text-decoration: none;
  font-weight:bold;
}
.btn-grey a:hover{
  text-decoration: underline;

}
/* Responsive HERO*/
@media (max-width: 1270px) {
.hero{
width: 100%;
}
}
@media (max-width: 770px) {
.hero{
width: 100%;
padding: 1em;
}
.main-text{
  width: 100%;
}
h1{
  font-size: 2.1rem;
}
.txt-hero{
  font-size: 1.1rem;
  font-weight: normal;
  color: #292E47;
}
.buttons-area{
  width: 100%;
}
}

/*SECTION CLIENTS (logos)*/
.grid-clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 👈 Fuerza 5 columnas iguales */
  gap: 2rem;
  max-width: 1120px;
  margin: 0 auto;
  align-items: center;
  margin-top: 1%;
}
.grid-clients article {
  width: 50%;  
  transition: transform 0.3s ease;
}
/* Hover chachi */
.grid-clients article:hover {
  transform: scale(1.05);
}
/* Logos en gris*/
.grid-clients img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  width: 100%;
  margin: 60%;
}
/* Logos color */
.grid-clients article:hover img {
  filter: grayscale(0%);
}
/* Responsive CLIENTS (logos) */
@media (max-width: 1200px) {
.grid-clients{
  grid-template-columns: repeat(5, 1fr);
  gap:0em;
}
 .grid-clients article {
  width: 65%;  
}
.grid-clients img {
  margin: 20%;
}
}

/*SECTION PROJECTS*/
.projects{
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  max-width: 1020px; 
  margin: 0 auto;
  margin-top: 3%;
}
.grid-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2.8rem;
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 3%;
  align-items: center;
}
.grid-projects article {
  width: 100%;
  background-color: white;
}
.grid-projects article:hover {
  box-shadow: 
      0 0 10px rgba(37, 37, 37, 0.6),  /* luz suave alrededor */
      0 0 30px rgba(23, 23, 23, 0.3),  /* halo más difuso */
      inset 0 0 10px rgba(229, 229, 229, 0.2); /* iluminación interior */
}
.grid-projects article img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.grid-projects article h3{
  margin: 7%;
  margin-bottom: 2%;
}
.grid-projects article p{
  margin: 7%;
}
.btn-general { 
  color: #072AC8;
  font-weight:bold;
  text-decoration: none;
}
.btn-general:hover {
  text-decoration: underline;
}
/* Responsive PROJECTS */
@media (max-width: 1200px) {
.projects{
  margin: 3%;
  margin-top: 3%;
}
.projects h2{
  font-size: 1.8rem;
}
.grid-projects {
  gap: 0.7rem;
}
}
@media (max-width: 770px) {
.projects{
  margin: 5%;
  margin-top: 3%;
}
.grid-projects {
  grid-template-columns: repeat(1, 3fr); 
  margin: 2%;
  gap: 2rem;
}
}

/*SECTION TESTIMONIALS (gris)*/
.rectangle {
  background-color: #292E47;
  width: 80vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Apila los elementos verticalmente */
}
.opinion div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Espacio entre imagen y texto */
  margin-top: 1.5rem;
}
.rectangle div h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;           
}
.txt-div{
  font-size: 1.5rem;
  font-weight: normal;
  color: #FFC600;
  text-align: center;
}
.circle-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.person-info {
  color: white;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3;
}

/* Responsive TESTIMONIALS (gris)*/
@media (max-width: 1200px) {
.rectangle{
  width: 100vw;
}

}
@media (max-width: 770px) {
.rectangle .opinion h2{
  font-size: 1.7rem;
}
.txt-div{
  font-size: 0.9rem;
}
}

/*SECTION SERVICES (reciclaje style projects)*/
.blue-circle{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #D1EDFF;
  object-fit: cover;
  margin:7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SECTION SUSCRIBE (amarillo)*/
.rectangle-yellow{
  background-color: #fce300;
  width: 85vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; /* Apila los elementos verticalmente */
}
.yellow-form form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-input-yellow{
  width: 500px;
  height: 55px;
  font-size: 1.1rem;
  /*padding-left: 2.5rem;  espacio para ícono si lo agregas */
  background-color: white;
  border: none;
}
.btn-input-yellow::placeholder{
  color: #555;
  font-size: 1rem;
    text-align: center;

}
.btn-form-yellow{
  width: 20vw;
  height: 6vh;
  background-color: #072AC8;
  color: white;
  font-size: 1.1rem;
  border: none;
}

.btn-form-yellow:hover{
  color: #FFC600;
}
.txt-div-form{
  font-size: 1.5rem;
  font-weight: normal;
  color: #FFC600;
  text-align: center;
}

@media (max-width: 1200px) {
.rectangle-yellow{
  width: 92.5vw;
}
.btn-form-yellow{
  width: 350px;
}
}
@media (max-width: 770px) {

  .yellow-form form {
    flex-direction: column;
    align-items: center;
    width: 90%;

  }

  .btn-input-yellow {
    display: block;
    margin-bottom: 1rem;
  }

  .btn-form-yellow {
    width: 30vw;
  }
  .txt-div-form{
    font-size: 1.2rem;
  }
}


/*PAGE PROJECT ID*/
.project{
  max-width: 1020px; 
  margin: 0 auto;
  margin-top: 3%;
}
.project-title{
  font-size: 3rem;
  color: #292E47;
  margin-top: 3%;
}

.project-info {  
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 24rem;
}

.project-description{
  font-size: 1.5rem;
  color: #555;
}

.project-date{
  font-size: 1.5rem;
  color: #555;
}
.project-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 4%;
  margin-bottom: 4%;
  box-shadow: 
      0 0 20px rgba(255, 35, 237, 0.6),  /* luz suave alrededor */
      inset 0 0 30px rgba(246, 0, 234, 0.2); /* iluminación interior */
}

.project-txt{
  font-size: 1.2rem;
  color: #555;
  margin-top: 3%;
  margin-bottom: 5%;
}

@media (max-width: 1200px) {
.project{
  width: 90vw;
}
.project-description{
  font-size: 1rem;
  color: #555;
}

.project-date{
  font-size: 1rem;
  color: #555;
}

}
@media (max-width: 770px) {
.project{
  width: 85vw;
}
.project-title{
  font-size: 2rem;
}
.project-info {  
  gap: 8.5rem;
}

.project-description{
  font-size: 0.7rem;
  color: #555;
}

.project-date{
  font-size: 0.7rem;
  color: #555;
}
.project-txt{
  font-size: 1rem;
  margin-top: 3%;
  margin-bottom: 5%;
}

}
/*PAGE FORM*/
.contact h2{
  font-size: 4rem;
  color: #292E47;
  margin-top: 3%;
}
form label{
  display: block;
  margin-bottom: 0.2rem;
  font-weight: lighter;
  color: #555;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.form-inputs {
  width: 100%;
  padding: 0.5rem;
  background-color: #e0e1ee;
  border: 1px solid #e0e1ee;
  border-radius: none;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contact{
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  max-width: 1020px; 
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 3%;
  justify-content: space-between;
}

.form-group {
  flex: 1;
}

#email, #phone {
  width: 100%; 
}
#name, #email, #phone, #message {
  height: 50px;
  font-size: 0.8rem;
  text-align: left;
  font-family: sans-serif;
}
#message{
  height: 200px;
}
.btn-form{
  width: 101.7%;
  height: 56px;
  background-color: #072AC8;
  border: none;
  color: white;
  margin: 0 auto;
  font-size: 1.3rem;
}
.error-message {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}

/* Responsive */
@media (max-width: 1200px) {
.contact form{display: grid;
  grid-template-columns: repeat(1, 1fr); 
  width: 80%;  
  margin: 0 auto;
}
.contact h2{
  font-size: 2.5rem;
  margin-left:9.5%;
}
.btn-form{
    width: 102.7%;

}
.form-row {
  flex-direction: column; /* Cambia a columna en pantallas pequeñas */
}}
@media (max-width: 770px) {
.btn-form{
    width: 105%;

}
}

/*FOOTER*/
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  max-width: 1015px; 
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer-left{
    width: 55%;  
}
.footer-left div.logo{
  margin-left: 0%;
}
address{
  margin-top: 12%;
  font-style: normal;
}

.footer-right {
  display: flex;
  flex-direction: column; /* Pone las dos listas una debajo de la otra */
  gap: 0; /* Espacio entre las dos listas */
}

.footer-right ul {
  list-style: none;
  display: flex;            /* Hace que los <li> estén en fila */
  gap: 8rem;                /* Espacio entre enlaces */
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
}

.footer-right a {
    text-decoration: none;
  color: #292E47;
}

.footer-right a:hover {
  color: #072AC8;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 1200px) {
.footer-left {
  width: 80%;
}
.footer-left div.logo{
  margin-left: 1%;
}
address{
  margin-left: 25%;
  margin-top: 9%;
}
.footer-right ul {
  gap: 4rem;          
}
}

@media (max-width: 868px) {
.footer-left div.logo{
  margin-left: 25%;
}
address{
  margin-top: 5%;
}
}

@media (max-width: 770px) {
footer{
    grid-template-columns: repeat(1, 2fr); 
}  
.footer-left {
  width: 100%;
}
.footer-left div.logo{
  margin-left: 9%;
}
address{
  margin-top: 5%;
}
.footer-right {
  width: 100%;
  margin: 10%;
}
.footer-right ul {
  gap: 3rem;          
}
}
